@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
 font-family: "Patrick Hand", cursive;
 font-weight: 400;
 font-style: normal;
}

body{
 height: 100vh;
 width: 100vw;
 color: white;
 background-color:#1C1C28;
 overflow-x: hidden;
}

.btn{
 color: #eee;
 border: none;
 font-size: 24px;
 padding: 15px 10px;
 border-radius: 4px;
 font-family: sans-serif;
 display: inline-block;
}

.btn.get_quote{
 background-color: #00CFDE;
}

.btn.get_img{
 /* background-color: #FF3B3B; */
 /* background-color: #AC5DD9; */
 background-color: #FF5C5C;
}

.btn.download{
 background-color: #06C270;
}

.btn.sudo{
 background-color: #8BC34A;
}

#main{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 height: 100vh;
}

#quote-container{
 display: inline-block;
}

.uploaded_img{
 max-width: 70vw;
 width: 650px;
}

.quote_box{
  color: white;
  position: absolute;
  width: 100%;
  height: 98%;
  font-size: 35px;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quote_box .quote{
 width: 75%;
 line-height: 40px;
}

.quote_box .author{
 font-size: 20px;
 opacity: 0.8;
 margin-top: 23px;
}